/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #6F0000;
}
.container {
max-width: 400px;
margin: 50px auto;
padding: 20px;
border: 5px solid #e0bb7f;
border-radius: 5px;
background-color: #FAEBD7;
}

#delButton{
    padding: 3px;
    margin-left: 15px;
    margin-top: 5px;
    border: 1.5px solid red;
    background-color: rgb(242, 202, 202);
    padding: 5px;
}

#addTask{
    background-color:	rgb(213, 238, 213);
    border: 1.5px solid green;
    padding: 5px;
    margin-left: 15px;
}

#doneBtn{
    margin-left: 15px;

}